<div class='main'>
  <%= render "shared/header" %>
  <%# なんか書く予定帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      何か書く予定
    </h2>
    <p class='service-explain'>
      会員登録して読んだ漫画を投稿
    </p>
    <p class='service-explain'>
      同じ趣味のユーザー同士でチャットしよう
    </p>
  </div>
  <%# /なんか書く予定帯部分  %>


  <%# 投稿一覧 %>
  <div class='comic-contents'>
    <div class="flash-message">
      <% flash.each do |key, value| %>
        <div class="flash-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <h2 class='title'>投稿作品</h2>
    <div class="subtitle" >
      新規投稿作品
    </div>
    <ul class='comic-lists'>
      <% @comics.each do |comic| %>
        <li class='list'>
          <%= link_to comic_path(comic.id) do %>
          <div class='comic-img-content'>
            <% if comic.image.attached? %>
              <%= image_tag comic.image.variant(resize: '250x250'), class: "comic-img" %>
            <% else %>
              <%= image_tag ("m_e_others_501.png"), class: "No-img" %>
            <% end %>
          </div>
          <div class='comic-info'>
            <h3 class='comic-title'>
              <%= comic.title %>
            </h3>
            <div class='comic-artist'>
              <% if comic.illustrator.blank? %>
                <span>作者：<%= comic.author %></span>
              <% else %>
                <span>原作：<%= comic.author %><br>作画：<%= comic.illustrator %></span>
              <% end %>
              <div class='comic-genre'>
                <span><%= comic.genre.name %></span>
              </div>
              <div class='user-name'>
                <%= link_to "by #{comic.user.name}", user_path(comic.user.id) %>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <% if @comics.empty? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag ("m_e_others_501.png"), class: "No-img" %>
          <div class='comic-info'>
            <h3 class='comic-title'>
              タイトル名
            </h3>
            <div class='comic-artist'>
                <span>作者:作者名</span>
              <div class='comic-genre'>
                <span>ジャンル</span>
              </div>
              <div class='user-name'>
                <span>投稿したユーザー名</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /投稿一覧 %>
</div>