<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">
  <div class="title-bar">
    <!-- 可能ならば、ロゴの写真を使う -->
    <%= link_to 'Comic Connect', '/', class: "title" %>
    <!-- //可能ならば、ロゴの写真を使う -->
  </div>
  <div class='search-bar-contents'>
    <%= form_with(url: search_comics_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li class="user-name" id="user-lists"><%= current_user.name %>
          <ul class="show-lists" id="user-pull-down" style="display: none;">
            <li><%= link_to 'マイページ', user_path(current_user.id), class: "user-pull-down-list my-page" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-pull-down-list logout" %></li>
          </ul>
        </li>
        <li class="new-action" id="new-lists">action
          <ul class="show-lists" id="new-pull-down" style="display: none;">
            <li><%= link_to '新規投稿', new_comic_path, class: "new-pull-down-list new-comic" %></li>
            <li><%= link_to 'チャットルーム', "#", class: "new-pull-down-list new-room" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login user-pull-down-list" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up new-pull-down-list" %></li>
      <% end %>
    </ul>
  </div>

  </div>